*.iml
.gradle/
.kotlin/
/build/
/captures/
.externalNativeBuild/
.cxx/
.DS_Store
*.log
*.hprof
*.apk
*.aab
output-metadata.json

# Local configuration
local.properties
google-services.json
*.jks
*.keystore

# Android Studio / IntelliJ
.idea/
